.icon-all-for-one { background-image: url(../img/all-for-one.png);}
.icon-archery-target { background-image: url(../img/archery-target.png);}
.icon-architect-mask { background-image: url(../img/architect-mask.png);}
.icon-archive-register { background-image: url(../img/archive-register.png);}
.icon-at-sea { background-image: url(../img/at-sea.png);}
.icon-aura { background-image: url(../img/aura.png);}
.icon-axe-swing { background-image: url(../img/axe-swing.png);}
.icon-bleeding-eye { background-image: url(../img/bleeding-eye.png);}
.icon-bolt-spell-cast { background-image: url(../img/bolt-spell-cast.png);}
.icon-broken-shield { background-image: url(../img/broken-shield.png);}
.icon-coma { background-image: url(../img/coma.png);}
.icon-confrontation { background-image: url(../img/confrontation.png);}
.icon-conversation { background-image: url(../img/conversation.png);}
.icon-cracked-shield { background-image: url(../img/cracked-shield.png);}
.icon-crags { background-image: url(../img/crags.png);}
.icon-crawl { background-image: url(../img/crawl.png);}
.icon-cross-mark { background-image: url(../img/cross-mark.png);}
.icon-crossed-swords { background-image: url(../img/crossed-swords.png);}
.icon-dead-head { background-image: url(../img/dead-head.png);}
.icon-deathcab { background-image: url(../img/deathcab.png);}
.icon-dodging { background-image: url(../img/dodging.png);}
.icon-drowning { background-image: url(../img/drowning.png);}
.icon-dust-cloud { background-image: url(../img/dust-cloud.png);}
.icon-echo-ripples { background-image: url(../img/echo-ripples.png);}
.icon-elf-ear { background-image: url(../img/elf-ear.png);}
.icon-embrassed-energy { background-image: url(../img/embrassed-energy.png);}
.icon-eye-shield { background-image: url(../img/eye-shield.png);}
.icon-eyeball { background-image: url(../img/eyeball.png);}
.icon-falling { background-image: url(../img/falling.png);}
.icon-first-aid { background-image: url(../img/first-aid.png);}
.icon-fog { background-image: url(../img/fog.png);}
.icon-grab { background-image: url(../img/grab.png);}
.icon-hand { background-image: url(../img/hand.png);}
.icon-health-potion { background-image: url(../img/health-potion.png);}
.icon-hood { background-image: url(../img/hood.png);}
.icon-horse-head { background-image: url(../img/horse-head.png);}
.icon-imprisoned { background-image: url(../img/imprisoned.png);}
.icon-internal-injury { background-image: url(../img/internal-injury.png);}
.icon-invisible { background-image: url(../img/invisible.png);}
.icon-journey { background-image: url(../img/journey.png);}
.icon-juggler { background-image: url(../img/juggler.png);}
.icon-knocked-out-stars { background-image: url(../img/knocked-out-stars.png);}
.icon-layered-armor { background-image: url(../img/layered-armor.png);}
.icon-lightning-tear { background-image: url(../img/lightning-tear.png);}
.icon-lightning-trio { background-image: url(../img/lightning-trio.png);}
.icon-lob-arrow { background-image: url(../img/lob-arrow.png);}
.icon-magic-swirl { background-image: url(../img/magic-swirl.png);}
.icon-magnifying-glass { background-image: url(../img/magnifying-glass.png);}
.icon-manacles { background-image: url(../img/manacles.png);}
.icon-meat { background-image: url(../img/meat.png);}
.icon-mountain-climbing { background-image: url(../img/mountain-climbing.png);}
.icon-night-sleep { background-image: url(../img/night-sleep.png);}
.icon-night-vision { background-image: url(../img/night-vision.png);}
.icon-one-eyed { background-image: url(../img/one-eyed.png);}
.icon-perspective-dice-six-faces-one { background-image: url(../img/perspective-dice-six-faces-one.png);}
.icon-poison-bottle { background-image: url(../img/poison-bottle.png);}
.icon-potion-ball { background-image: url(../img/potion-ball.png);}
.icon-power-ring { background-image: url(../img/power-ring.png);}
.icon-push { background-image: url(../img/push.png);}
.icon-raining { background-image: url(../img/raining.png);}
.icon-resize { background-image: url(../img/resize.png);}
.icon-round-shield { background-image: url(../img/round-shield.png);}
.icon-run { background-image: url(../img/run.png);}
.icon-scroll-quill { background-image: url(../img/scroll-quill.png);}
.icon-semi-closed-eye { background-image: url(../img/semi-closed-eye.png);}
.icon-sharp-smile { background-image: url(../img/sharp-smile.png);}
.icon-shield-bash { background-image: url(../img/shield-bash.png);}
.icon-shield-impact { background-image: url(../img/shield-impact.png);}
.icon-shield { background-image: url(../img/shield.png);}
.icon-smitten { background-image: url(../img/smitten.png);}
.icon-snatch { background-image: url(../img/snatch.png);}
.icon-sprint { background-image: url(../img/sprint.png);}
.icon-star-pupil { background-image: url(../img/star-pupil.png);}
.icon-stone-pile { background-image: url(../img/stone-pile.png);}
.icon-stopwatch { background-image: url(../img/stopwatch.png);}
.icon-strong { background-image: url(../img/strong.png);}
.icon-sun { background-image: url(../img/sun.png);}
.icon-sword-brandish { background-image: url(../img/sword-brandish.png);}
.icon-sword-break { background-image: url(../img/sword-break.png);}
.icon-sword-clash { background-image: url(../img/sword-clash.png);}
.icon-target-dummy { background-image: url(../img/target-dummy.png);}
.icon-telepathy { background-image: url(../img/telepathy.png);}
.icon-terror { background-image: url(../img/terror.png);}
.icon-thermometer-cold { background-image: url(../img/thermometer-cold.png);}
.icon-thermometer-hot { background-image: url(../img/thermometer-hot.png);}
.icon-tripwire { background-image: url(../img/tripwire.png);}
.icon-tumble { background-image: url(../img/tumble.png);}
.icon-windsock { background-image: url(../img/windsock.png);}
.icon-wingfoot { background-image: url(../img/wingfoot.png);}
.icon-worried-eyes { background-image: url(../img/worried-eyes.png);}
